numpy
pandas
faiss-cpu         # or faiss-gpu if you're using GPU
sentence-transformers==2.2.2
transformers==4.39.3
torch
datasets
tqdm
streamlit
langchain-community
langchain-text-splitters
streamlit-option-menu
