numpy
pandas
faiss-cpu
sentence-transformers==2.2.2
transformers==4.39.3
torch
datasets
huggingface_hub>=0.14,<0.23
tqdm
streamlit
langchain-community
langchain-text-splitters
streamlit-option-menu
